{% extends 'layouts/base.html' %}

{% block content %}

<h2>{{ document.title }}</h2>

<div class="row">

<div class="col-md-8">

<div class="card p-4">

<h4>Report Details</h4>

<table class="table">

<tr>
<td>Title</td>
<td>{{ document.title }}</td>
</tr>

<tr>
<td>Report Type</td>
<td>{{ document.report_type }}</td>
</tr>

<tr>
<td>Document Number</td>
<td>{{ document.document_number }}</td>
</tr>

<tr>
<td>Division</td>
<td>{{ document.division }}</td>
</tr>

<tr>
<td>Author</td>
<td>{{ document.author }}</td>
</tr>

<tr>
<td>Date</td>
<td>{{ document.report_date }}</td>
</tr>

<tr>
<td>Status</td>
<td>{{ document.status }}</td>
</tr>

</table>

</div>

<div class="card mt-3 p-4">

<h4>Summary</h4>

<p>{{ document.summary }}</p>

</div>

</div>
<div class="col-md-4">

<div class="card p-3">

<a
class="btn btn-primary mb-3"
href="{{ url_for('user.pdf_viewer', document_id=document._id) }}">

View PDF

</a>

<a
class="btn btn-success mb-3"
href="{{ url_for('user.download_pdf', document_id=document._id) }}">

Download PDF

</a>

</div>

</div>

</div>

{% endblock %}